<h1>Bienvenido al juego Ahorcado</h1>
<form action='/adivinar' method='post'>
   <div>
      <label>Ingrese letra:</label>
      <input type='text' name='adivina' maxlength="1"/>
      <input type='submit' name ='adivinar' value="Adivinar" <%=@puede_continuar_adivinando%>/>
   </div>
</form>
<div>
    <div><%=@mensaje_finalizacion%></div>
	<div>Letras correctas: <%=@cantidad_correctos%></div>
	<div>Intentos fallidos: <%=@cantidad_fallas%></div>
</div>
